.about {
  display: grid;
  margin: 7rem auto;
  gap: 2rem;
  max-width: 1100px;
  width: 95%;
}

.about-photo-container {
  grid-column: 2 / span 1; /* Ocupar la segunda columna */
  grid-row: 1 / span 1; /* Ocupar 4 filas */
  height: auto;
}

@media (max-width: 480px) {
  .about-container {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
  }

  .about-container {
    grid-column: 1 / span 1; /* Ocupar toda la columna */
    grid-row: 1 / span 1; /* Ocupar 1 fila */
  }

  .about-description {
    align-self: center;
  }

  .about-photo-container {
    grid-column: 1 / span 1; /* Ocupar toda la columna */
    grid-row: 2 / span 1; /* Ocupar 1 fila */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    object-fit: cover;
    width: 90%;
  }

}

@media (max-width: 780px) {
  .about-container {

    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
  }
  .about-container {
    grid-column: 1 / span 1; /* Ocupar toda la columna */
    grid-row: 1 / span 1; /* Ocupar 1 fila */
  }
  .about-photo-container {
    grid-column: 1 / span 1; /* Ocupar toda la columna */
    grid-row: 2 / span 1; /* Ocupar 1 fila */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    object-fit: cover;
    width: 90%;
  }
}


.about-subtitle {
  font-size: var(--skilltitulo);
  font-family: var(--fuente_secundaria);
  text-align: left;
  background: url(../assets/123.webp);

  color: var(--blanco);
  margin: 0;
  padding: 5px;
  border-radius: 5px;

}

.about-text {
  font-size: var(--texto_projectos);
  font-family: var(--fuente_secundaria);
}

.about-photo-container img {
  max-height: 400px;
  height: auto;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}
