@keyframes fadeIn{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.mve-arriba
{
  animation: fadeArriba 1.5s forwards;
}

@keyframes fadeArriba{
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.mve-left{
  animation: moveInLeft 1.5s forwards;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.mve-right{
  animation: moveInRight 1.5s forwards;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}
