
.projects{
  margin: 0 auto;
}
.projects-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;

  }

.project-content {
  border: 1px solid var(--negro);
  border-radius: 5px;
}

.project-content img {
  width: 95%;
  display: block;
  margin: -20px auto;
  border-radius: 5px;
}


.projects h2 {
  margin-top: 30px; /* Ajusta el margen superior del título según sea necesario */
}


