.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 2rem;
  background-color: var(--rosa);
}


.photo-container {
  opacity: 0;
  animation: fadeIn 2s forwards;
  margin-bottom: 1rem;
}
@keyframes fadeIn{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.hero-photo {
  width: clamp(100px, 30vw, 275px);
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
}

@media (max-width: 480px) {
  .hero-photo {
    width: clamp(100px, 50vw, 275px);
    height: auto;
  }
  .saludo {
    font-size: var(--titulo);
  }
  .job-title {
    font-size: clamp(16px 30vw 20px);
  }

  .contact-button {
    font-size: var(--buttons);
  }
}
/* aqui termina la foto*/
@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    gap: 0;
  }
}


.saludo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: moveInLeft 2s forwards;
  margin-bottom: 1rem;
  font-family: var(--fuente_principal);
}

.job-title {
  margin-top: 1rem;
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
